<!DOCTYPE html>
<html lang="en">
<head>
	<title>TestApplication - Forgot</title>
	<% include ./parts/head %>
</head>
<body>
<div class="container">
	<div class="col-sm-6 col-sm-offset-3">

		<h1><span class="fa fa-question-circle"></span></span> Forgot password</h1>
		<!-- show any messages that come back with authentication -->
		<% if (message.length > 0) { %>
			<div class="alert alert-danger"><%= message %></div>
		<% } %>

		<!-- LOGIN FORM -->
		<form method='post'>
			<fieldset>
				<div class="form-group">
					<label for='email'> Email </label>
					<input type='text' name='email' class="form-control" placeholder='Your Email'></br>
				</div class="form-group">
				<button type='submit' class="btn btn-warning btn-lg"> Reset Password </button>
			</fieldset>
		</form>
		<hr>

		<p>Need an account? <a href="/signup">Signup</a></p>
		<p>Or go <a href="/">home</a>.</p>

	</div>
</div>
</body>
</html>