<!DOCTYPE html>
<html lang="en">
<head>
	<% include ./parts/head %>
	<title>TestApplication</title>
</head>
<body>
<div class="container">
	<div class="jumbotron text-center">
		<h1>Test WebApplication</h1>
		<p>Login or Register with:</p>
		<a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
		<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
	</div>
</div>

<footer>
	<% include ./parts/footer %>
</footer>
	
</body>
</html>
