<!DOCTYPE html>
<html lang="en">
<head>
	<title>TestApplication - Notes</title>
	<% include ./parts/head %>
	<script src='./javascripts/notes.js'></script>
</head>
<body>
	<div class="container">
		<% include ./parts/navigation %>
		<% include ./parts/addnote %>
		<% include ./parts/notelist %>
		<% include ./parts/modal %>
	</div>
	<footer>
		<% include ./parts/footer %>
	</footer>
</body>
</html>