<!DOCTYPE html>
<html lang="en">
<head>
	<title>TestApplication - Reset password</title>
	<% include ./head %>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-question-circle"></span></span> Reset password</h1>
	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>
	<!-- LOGIN FORM -->
	<form method='post'>
		<fieldset>
			<div class="form-group">
				<label for='password'> New password </label>
				<input type='password' name='password' class="form-control" placeholder='New password'></br>
			</div class="form-group">
			<button type='submit' class="btn btn-warning btn-lg"> Confirm Password</button>
		</fieldset>
	</form>
	<hr>

	<p>Need an account? <a href="/signup">Signup</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>
	
</body>
</html>