<div class="well">
	<table class="table table-striped table-hover table-condensed">
		<thead>
			<tr>
				<th> </th>
				<th>Note</th>
				<th>User</th>
				<th>Milestone</th>
				<th>Options</th>				
			</tr>
		</thead>
		<tbody>
			<tr id="add-row" >
				<td></td>
				<td><input id="add-note" type="text" placeholder="Name"></input></td>
				<td>
					<select id="add-userId" size="1">
						<% for(var i=0; i<users.length; i++) { %>	
							<option value=<%= users[i]._id %>><%= users[i].lastName +" "+ users[i].firstName %></option>
						<% } %>
					</select>	
				</td>
				<td>
					<select id="add-milestoneId" size="1">
						<% for(var i=0; i<milestones.length; i++) { %>	
							<option value=<%= milestones[i]._id %>><%= milestones[i].name %></option>
						<% } %>
					</select>	
				</td>
				<td>
					<i class="fa fa-plus add-note"></i>
				</td>				
			</tr>
		</tbody>
	</table>
</div>