<!DOCTYPE html>
<html lang="en">
<head>
	<title>TestApplication - Users</title>
	<% include ./parts/head %>
	<script src='./javascripts/userstoproject.js'></script>
</head>
<body>
	<div class="container">
		<% include ./parts/navigation %>
		<% include ./parts/userstoproject %>
	</div>
	<footer>
		<% include ./parts/footer %>
	</footer>
</body>
</html>