<!DOCTYPE html>
<html lang="en">
<head>
	<title>TestApplication - Users</title>
	<% include ../head %>
	<script src='./javascripts/userlist.js'></script>
</head>
<body>
	<div class="container">
		<% include ./parts/navigation %>
		<% include ./parts/adduser %>
		<% include ./parts/userlist %>
	</div>
	<footer>
		<% include ../footer %>
	</footer>
</body>
</html>